<% layout('layouts/boilerplate') %>
<h2>Recommended for You</h2>
<div class="row">
  <% recommendations.forEach(listing => { %>
    <div class="col-md-4">
      <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
      <div class="card listing-card mb-4">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text"><%= listing.description.substring(0, 80) %>...</p>
        </div>
      </div>
      </a>
    </div>
  <% }) %>
</div>